
table {
  width: 100%;
}

.carregando-spinner{


  background: rgba(0,0,0, 0.15);
  display: flex;

}



button{
  background: none;
  border: none;

}

button :hover{
  transition: 0.5s;
  border-bottom: 2px solid #fff ;
}

mat-toolbar{
  align-items: center;
  justify-content: space-between;

  button{
    display: flex;
    justify-content: flex-end;
  }


  form{

    background-color: #683ab700;
    display: flex;

    mat-form-field{
      font-size: 0.8rem;
      height:100%;
      margin-top: 0px;
      padding: 0%;

    }

    button{
      display: flex;
    justify-content: flex-end;
    }
  }

  .material-icons{
    padding: 8px;
    padding-top: 12px;
    color: #fff;

  }

  .add{
    font-size: 48px;
  }








}



