<mat-card>
  <form [formGroup]="carroForm" (ngSubmit)="onSubmit()">
    <mat-toolbar color="primary"> <span>Cadastrar carro</span> </mat-toolbar>

    <mat-form-field appearance="fill">
      <mat-label>Modelo</mat-label>
      <input matInput name="modelo" formControlName="modelo" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Marca</mat-label>
      <input matInput formControlName="marca"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Portas</mat-label>
      <input matInput type="number" formControlName="quantidadePortas" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Câmbio</mat-label>

      <mat-select formControlName="tipoCambio">
        <mat-option value="Manual">Manual</mat-option>
        <mat-option value="Automatizado">Automatizado</mat-option>
        <mat-option value="Automatico">Automatico</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fabricação</mat-label>
      <input matInput formControlName="anoFabricado"/>
    </mat-form-field>

    <mat-form-field appearance="fill" >
      <mat-label>Combustivel</mat-label>

      <mat-select formControlName="tipoCombustivel">
        <mat-option value="Gasolina">Gasolina</mat-option>
        <mat-option value="Alcool">Álcool</mat-option>
        <mat-option value="Flex">Flex</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <button type="submit" class="cadastrar" value="bold">CADASTRAR</button>
      <mat-button-toggle class="cancelar" value="italic" (click)="onRedirect()">CANCELAR</mat-button-toggle
      >
    </mat-button-toggle-group>
  </form>
</mat-card>
